# direnv file for the project
# set the project to be the repository root so Julia processes auto-activate it
export JULIA_PROJECT="/Users/jamesneville-rolfe/dev/uni/msciproject"

# Point to the julia installation directory you want. For juliaup this is usually:
JULIA_HOME="$HOME/.juliaup"
# Make sure the julia bin is on PATH:
PATH_add "$JULIA_HOME/bin"

# Set the julia env var so Zed's tasks use this binary
export julia="$JULIA_HOME/bin/julia"
